<html>
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="validation MVC assignment page" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="Martin Puryear" />

	<title>Task Manager</title>
	
	<link rel="stylesheet" type="text/css" href="<?= base_url('assets/css/tasks.css') ?>" />

	<script type="text/javascript" src="<?= base_url('CodingDojo/JQuery/v2.0.3/jquery.min.js') ?>"></script>

	<script type="text/javascript">

	(document).ready(function() {

		console.log($("#myspan").txt());

	});

	</script>

</head>
<body>

	<span id="myspan">text</span>

</body>

</html>