/*  tasks.css  */

/*
    When a user clicks on the task, it converts into a text input.
    I took specific care with margin & padding to keep task text
    pixel-for-pixel stationary when changing between span<->input.
*/

body{
  background-color: #ddd;
  min-width: 480px;
}

ul{
  list-style: none;
}

#errors{
  color: red;
  font-size: 1.3em;
  font-weight: 800;
  margin-bottom: 10px; 
}

.task{
  margin: 6px 0;
  min-height: 25px;
  padding: 0;
}

.txt-task-name{
  padding-left: 2px;
  padding-top: 0px;
  vertical-align: text-top;
}

.txt-task-name-complete{
  background-color: #bbb;
  text-decoration: line-through;
}

.edit-task-name{
  height: 24px;
  max-width: 150px;
}

.remove-task, .edit-task-complete{
  vertical-align: top;
}
